<!doctype html>
<title>Bitcoin network canvas</title>
<meta charset="utf-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=container>
  <h1 style="color:#EDA254"><span class="glyphicon glyphicon-btc" > </span>itcoin network </h1>
    <br>
      <div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
           <li><a href="{{ url_for('success') }}">BITCOIN PREDICTION</a></li>
            <li><a href="{{ url_for('classification') }}">CLASSIFCATION</a></li>
            <li><a href="#">BITCOIN NETWORK</a></li>
          </ul>
        </li>
      </ul>


      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div>
<p style="color:#EDA254">Exploring bitcoin network. Enter a user public key to check its transaction as network. The plot uses NetworkX and D3 js can calls block chain API to get other users involved in transaction. See how transactions are clustered using Community partition</p><div>
  <div class=metanav>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}


    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock %}
</div>